* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
::-webkit-scrollbar {
	display: none;
}

html,
body,
#root {
	height: 100%;
	width: 100%;
	display: flow-root;
}

#root {
	background-color: darkslategrey;
}

.App {
	height: 100%;
	display: flow-root;
}

.content {
	position: absolute;
	display: flex;
	z-index: 3;
	/* background-color: blue; */
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	margin: 0% 15%;
	align-items: center;
	flex-direction: column;
}

.title {
	color: aliceblue;
}
.test {
	border: 2px solid aliceblue;
	/* background-color: red; */
	backdrop-filter: blur(8px);
	height: 80%;
	width: 100%;
}
